.ui.form {
    .field {
        .input {
            input {
                background-color: $background-secondary !important;
                border-color: $background-secondary !important;
                color: $font-light;

                &:focus, &:hover, &:active {
                    background-color: $background-secondary;
                }
            }
            i {
                color: $font-light;
            }
        }

        .dropdown {
            background-color: $background-secondary;
            border-color: $border-primary;
            color: $font-light;

            &:focus, &:hover, &:active {
                .menu {
                    background-color: $background-secondary;
                }
            }

            input {
                background-color: $background-secondary;
                border-color: $border-primary;
                color: $font-light;

                &:focus, &:hover, &:active {
                    background-color: $background-secondary;
                }
            }

            .menu {
                background-color: $background-secondary;
                border-color: $border-primary;

                .item {
                    border-color: $border-primary;
                }

                .message {
                    color: $font-light;
                    opacity: 0.8;
                }
            }
        }
    }

    .button {
        background-color: $primary-color;
        color: $font-light;
        border-radius: 100px;
    }

    .field.error {
        .ui.input {
            input {
                background-color: $background-secondary;
                border: 1px solid $danger;
                color: $danger;
            }
            i {
                color: $danger;
            }
        }

        .ui.dropdown {
            .text {
                background-color: transparent;
                color: $danger;
            }
        }
    }
}